---

---
<section class="-mx-8 bg-pc">
<main
  class="px-8 place-items-center w-full overflow-visible py-[4rem] lg:py-[8rem] fade-in-fast">
  <div class="space-y-[4rem]">
    <h1
      class="font-noto text-5xl xl:text-6xl font-semibold text-center text-wc -mb-4 uppercase px-8">
      The Sweet Story Behind Trudy’s Ice Cream
    </h1>

    <div class="flex justify-center px-8">
  <div class="w-full max-w-4xl aspect-video rounded-2xl overflow-hidden shadow-2xl">
    <iframe 
      class="w-full h-full"
      src="https://www.youtube.com/embed/j2vn2Ei9itc?rel=0&modestbranding=1&showinfo=0&color=white" 
      title="YouTube video player"
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>
</div>

  </div>
</main>
</section>